<% content_for :header do %>
    <title>Update Question - Queue Overflow</title>
<% end %>

<div class="container">
  <h3>Update this Question</h3><hr>
</div>
<%= render 'form', question: @question %>

