<% content_for :header do %>
    <title>Ask a Question - Queue Overflow</title>
<% end %>
<div class="container">
  <h3>Ask a Public Question</h3><hr>
</div>


<%= render 'form', question: @question %>


