<% content_for :header do %>
    <title>Queue Overflow Company Page - Where Developers Learn, Share, & Build Careers</title>
<% end %>

<div class="panel-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <img src="https://cdn.sstatic.net/Img/company/bg-header-desktop.png?v=b7201a8f6574" alt="" style='width:100%;' />
            </div>
        </div>
        <div class="col-sm-6"><br><br>
            <h3 class='tg'>Who We Are</h3><br>
            <h1>Helping developers and technologists write the script of the future.</h1><br><br>
            <p>
                Our public platform serves 100 million people every month, making it one of the 50 most popular websites in the world.
            </p><br>
            <p>
                Our asynchronous knowledge management and collaboration offering Queue Overflow for Teams, is transforming how people work.
            </p>
        </div>
    </div><br><hr>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-3 text-center"><br>
                    <h4>100+ Million</h4>
                    <p>monthly visitors to Stack Overflow & Stack Exchange</p>
                </div>
                <div class="col-sm-3 text-center"><br>
                    <h4>45.1+ Billion</h4>
                    <p>Times a developer got help since 2008</p>
                </div>
                <div class="col-sm-3 text-center"><br>
                    <h4>179% ROI</h4>
                    <p>from companies using Stack Overflow for Teams</p>
                </div>
                <div class="col-sm-3 text-center"><br>
                    <h4>5,000+</h4>
                    <p>Stack Overflow for Teams instances active every day</p>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div><hr><br><br>
    <h2 class='text-center'>Our Core Values</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="box" style='background: -webkit-linear-gradient(white,#FFE4CD,white);'>
                <h1><i class="fa fa-heart to"></i></h1>
                <h3>Adopt a customer-first mindset</h3><br>
                <p class="tg">Authentically serve our customers by empowering, listening and collaborating with our fellow Stackers.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box" style='background: -webkit-linear-gradient(white,#FFE4CD,white);'>
                <h1><i class="fa fa-line-chart to"></i></h1>
                <h3>Learn, share, grow</h3><br>
                <p class="tg">Adopt a Growth Mindset. Be curious and eager to learn. Aim for ethical, sustainable, long-term growth, both personally and in the company.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box" style='background: -webkit-linear-gradient(white,#FFE4CD,white);'>
                <h1><i class="fa fa-clock-o to"></i></h1>
                <h3>Be transparent</h3><br>
                <p class="tg">Communicate openly and honestly, both inside and outside the company. By being empathetic, reliable, and acting with integrity.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="box" style='background: -webkit-linear-gradient(white,#FFE4CD,white);'>
                <h1><i class="fa fa-diamond to"></i></h1>
                <h3>Empower people to deliver outstanding results</h3><br>
                <p class="tg">Give people space to get their job done, support them when they need it, and practice blameless accountability.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box" style='background: -webkit-linear-gradient(white,#FFE4CD,white);'>
                <h1><i class="fa fa-users to"></i></h1>
                <h3>Keep community at our center</h3><br>
                <p class="tg">Community is at the heart of everything we do. Nurture healthy communities where everyone is encouraged to learn and give back.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box" style='background: -webkit-linear-gradient(white,#FFE4CD,white);'>
                <h1><i class="fa fa-handshake-o to"></i></h1>
                <h3>Be flexible and inclusive</h3><br>
                <p class="tg">We do our best work when a diverse group of people collaborate in an environment of respect and trust. Create space for different voices to be heard, and allow flexibility in how people work.</p>
            </div>
        </div>
    </div>
</div>