<% content_for :header do %>
    <title>Queue Overflow Team Member - Where Developers Learn, Share, & Build Careers</title>
<% end %>

<div class="panel-body">

    <h1 class="text-center">Team Member</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-4"><br>
                    <div class="card-box">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFeSDbDz1cHVA/profile-displayphoto-shrink_800_800/0/1611314009260?e=1623283200&v=beta&t=kdpQM6sQ6GRTMs4OBqrV7uqjK7vmiq9CWouDdQbmXVQ" alt="">
                        <div class="card-text">
                            <h4>Shivam Vishwakarma</h3>
                            <h5>SDT at MountBlue Technologies</h5>
                            <h4>
                                <a href="http://www.github.com/samsberk" target='_blank'><i class="fa fa-github-square"></i></a>&ensp;
                                <a href="http://www.linkedin.com/in/samsberk" target='_blank'><i class="fa fa-linkedin-square"></i></a>&ensp;
                                <a href="http://www.twitter.com/samsberk" target='_blank'><i class="fa fa-twitter-square"></i></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"><br>
                    <div class="card-box">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEOsjfecGTUkw/profile-displayphoto-shrink_800_800/0/1569343712951?e=1623283200&v=beta&t=E6A7zLUeoZQt2DQWgkiphvlYkERV3gxYKRInEqn4ZJE" alt="">
                        <div class="card-text">
                            <h4>Saurabh Upadhyay</h3>
                            <h5>SDT at MountBlue Technologies</h5>
                            <h4>
                                <a href="http://github.com/sku420" target='_blank'><i class="fa fa-github-square"></i></a>&ensp;
                                <a href="http://linkedin.com/in/sku420" target='_blank'><i class="fa fa-linkedin-square"></i></a>&ensp;
                                <a href="http://twitter.com/@sku420" target='_blank'><i class="fa fa-twitter-square"></i></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"><br>
                    <div class="card-box">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHydhAmQiqeDg/profile-displayphoto-shrink_800_800/0/1616944681347?e=1623283200&v=beta&t=ztdMmuD1wFkh2POm8uzPeBfavITKNphW9EfQxGbyv0k" alt="">
                        <div class="card-text">
                            <h4>Parth Aggarwal</h3>
                            <h5>SDT at MountBlue Technologies</h5>
                            <h4>
                                <a href="https://github.com/I-m-Parthian" target='_blank'><i class="fa fa-github-square"></i></a>&ensp;
                                <a href="https://www.linkedin.com/in/i-m-parthian" target='_blank'><i class="fa fa-linkedin-square"></i></a>&ensp;
                                <a href="https://twitter.com/I_m_Parthian" target='_blank'><i class="fa fa-twitter-square"></i></a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <h2 class='text-left'>
                    Knowledge sharing and collaboration without distractions
                </h2><br>
                <p class="text-left" style='font-size:18px;'>
                    Stack Overflow for Teams is a knowledge management & collaboration solution that technologists already trust.
                </p><br><br>
                <%= link_to "Join the Community", new_user_registration_path, class:'btn btn-default btn-box btn-orange' %>
                <%= link_to "Create an Account", new_user_registration_path, class:'btn btn-default btn-box btn-blue' %>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe style='width:100%;height:50vh;' src="https://www.youtube.com/embed/HJtJXMKpl2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>