// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}
//--------------------------- start Navbar --------------------------------
.my-nav{
    position: sticky;
    top: 0;
    border-top: 3px solid #FF7A00;
    border-radius: 0;
    margin-bottom: 30px;
    background: #FAFAFB;
    box-shadow: 2px 2px 10px lightgray;
    z-index: 9;
}
.navbar-brand {
    margin-top: -5px;
}
.my-nav .my-collapse{
    border: none;
    margin-top: 0;
    text-align: center;
}
.my-nav .navbar-header .navbar-toggle{
    background: #EEEEEE;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #282828;
}
.my-nav .my-collapse .my-navbar-nav li a{
    font-size: 13px;
    padding: 8px 10px;
    margin: 7px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.my-nav .my-collapse .my-navbar-nav li a:hover, .my-nav .my-collapse .my-navbar-nav li.active a{
    color: black;
    background-color: lightgray;
    // background-color: #0364CF;
}

.nav-signup-btn, .nav-login-btn{
    border-radius: 2px;
}

//--------------------------- end Navbar --------------------------------

//--------------------------- start Home --------------------------------
.tw{
    color: white;
}
.tg{
    color: gray;
}
.to{
    color: #E65F00;
}
.main-box{
    min-height: 100px;
    background-color: #373D41;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 300px;
}
.box{
    min-height: 100px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    padding: 25px;
    margin-bottom: 20px;
}
.box-heading{
    font-size: 25px;
}
.btn-box{
    border: none;
    font-weight: bold;
    font-size: 12px;
    padding: 12px 25px;
    letter-spacing: 1px;
    margin-top: 5px;
}
.btn-orange{
    background-color: #e7843d;
    color:white;
}
.btn-orange:hover{
    color: white;
    background: #E65F00;
}
.btn-blue{
    background-color: rgb(53, 183, 226);
    color:black;
}
.btn-blue:hover{
    color: white;
    background: #0364CF;
}
.big-text{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Titillium Web',sans-serif;
    color: white;
}

#changingword {
    color: #E65F00;
}

.breaker{
    font-size: 50px;
    color: gray;
    text-align: center;
}
//--------------------------- start about --------------------------------

//--------------------------- start team --------------------------------
.card-box{
    min-height: 100px;
    border-radius: 5px;
    background-color: lightgray;
}
.card-box img{
    width:100%;
    border-radius: 5px 5px 0px 0px;
}
.card-box .card-text{
    padding: 10px;
    text-align: center;
}


.main-body{
    min-height: 100vh;
}
.footer{
    min-height: 100px;
    width: 100%;
    padding: 30px 10px;
    color: white;
    font-size: 14px;
    text-align: center;
    background-color: #242729;
}
.footer-link{
    color:#ffa462;
}
.footer-link:hover{
    color: #FF7A00;
    text-decoration: none;
}

#search-box{
    z-index: 1;
    border-radius: 3px;
}
#search-btn{
    border: none;
    margin-left: -39px;
    z-index: 2;
}

.sc, .bc{
    display: none;
}
@media screen and (max-width:768px){
    .sc{
        display: block;
    }
    .bc{
        display: none;
    }
    .big-text{
        font-size: 30px;
    }
    .container{
        width:100%;
    }
    .logo-img{
        width:50%;
    }
}
@media screen and (min-width:768px){
    .sc{
        display: none;
    }
    .bc{
        display: block;
    }
    .container{
        width:90%;
    }
    .logo-img{
        width:100%;
    }
}
